<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Test site mts.by lesson_13">
        <parameter name="headerPayWindow" value="Онлайн пополнение без комиссии"></parameter>
        <parameter name="urlInfoService" value="https://www.mts.by/help/poryadok-oplaty-i-bezopasnost-internet-platezhey/"></parameter>
        <parameter name="phoneNumber" value="297777777"></parameter>
        <parameter name="amountOfPayment" value="100"></parameter>
        <classes>
            <class name="LessonThirteenSeleniumTest"></class>
        </classes>
    </test>
</suite>

